# -------------------------
# E-COMMERCE APP
# -------------------------
{$ECOMMERCEAPP_DOMAIN:invalid} {
	encode gzip
	reverse_proxy frontend:80
}

www.{$ECOMMERCEAPP_DOMAIN:invalid} {
	redir https://{$ECOMMERCEAPP_DOMAIN:invalid}{uri} permanent
}

api.{$ECOMMERCEAPP_DOMAIN:invalid} {
	reverse_proxy api:4000
}

admin.{$ECOMMERCEAPP_DOMAIN:invalid} {
	reverse_proxy admin:80
}





# -------------------------
# PORTFOLIO APP
# -------------------------
{$PORTFOLIOAPP_DOMAIN:invalid} {
	encode gzip
	reverse_proxy portfolio:80
}

www.{$PORTFOLIOAPP_DOMAIN:invalid} {
	redir https://{$PORTFOLIOAPP_DOMAIN:invalid}{uri} permanent
}

# -------------------------
# UGC ADS APP
# -------------------------
{$UGCAPP_DOMAIN:invalid} {
  encode gzip
  reverse_proxy ugc_frontend:80
}

www.{$UGCAPP_DOMAIN:invalid} {
  redir https://{$UGCAPP_DOMAIN:invalid}{uri} permanent
}

api.{$UGCAPP_DOMAIN:invalid} {
  reverse_proxy ugc_api:5050
}